<div id="container">
<h1>Editing kompanija</h1>

<%= render 'form' %>

<%= link_to 'Show', @kompanija %> |
<%= link_to 'Back', kompanijas_path %>
</div>
<%= image_tag  "AIESEC_logo.jpg", :class => "style_image" %>